
body {
  background-color: #d00000;
  font-family: "Montserrat", sans-serif;
  color:white;
}

#whole-container {

      width: 50%;
        display: block;
        justify-content: center;
        transform: translate(-50%, -50%);
        top:50%;
        position: absolute;
        left: 50%;
        right: 50%;

}


iframe {
  border-radius: 12px;
 
}

#artistName {
    
    height: 32px;
    border-radius: 12px;
    border: 1px solid white;
    padding: 5px 5px;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 10px;
    cursor: pointer;
    width: 100%;
    
    
}

/* button {
  float: right;
  padding: 10px 20px;
  border: 1px solid white;
  font-size: 17px;
  border: none;
  cursor: pointer;
  height: 32px;
  border-radius: 12px;


} */


#art-name {
    text-align: center;
    font-size: 100px;
    margin-bottom: 0px;
    margin-top: 0;
 
  
}
.spo-container {
  width: 800px;
}

#searchDiv {
display: flex;
}